<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('../includes/headerCSS')%>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <!-- Navbar -->
  <%-  include('../includes/header')%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%-  include('../includes/sidebar')%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="header-edit">
          <div class="title-header">Chỉnh sửa nhân viên thợ tóc</div>
          <div><a href="/staffs/list"><i class="fas fa-arrow-left"></i></a></div>
        </div>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid create-container">
        <div>
            <form action="/staffs/update/<%=staff._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Tên thợ</label>
                  <input type="text" name="name" value="<%= staff.name %>" class="form-control" placeholder="Điền tên nhân viên thợ tóc">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="text" name="email" value="<%= staff.email %>" class="form-control" placeholder="Điền email">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Số điện thoại</label>
                  <input type="text" name="numberphone" value="<%= staff.numberphone %>" class="form-control" placeholder="Điền số điện thoại">
                </div>
                <div class="mb-3">
                    <label class="form-label">Introduce</label>
                    <textarea class="summernote" name="introduce"  class="form-control" 
                      style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"><%= staff.introduce %></textarea>
                  </div>
                <div class="custom-file mb-3">
                  <input type="file" name="avatar" class="custom-file-input avatar" id="validatedCustomFile"  onchange="previewFile(this)">
                  <label class="custom-file-label" for="validatedCustomFile"><%=staff.avatar%> </label>
                </div>
                <div> 
                  <img src="/backend/uploads/<%=staff.avatar%>" class="previewImg">
                </div>
                <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
              </form>

        </div>
        <!-- /.row -->

      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <%- include('../includes/footer')%>
  
</body>
</html>
