<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../includes/headerCSS')%>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <!-- Navbar -->
  <%-  include('../includes/header')%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%-  include('../includes/sidebar')%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="header-edit">
          <div class="title-header">Chỉnh sửa thông tin dịch vụ</div>
          <div><a href="/services/list"><i class="fas fa-arrow-left"></i></a></div>
        </div>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid create-container">
        <div>
            <form id="form" action="/services/update/<%= service._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Tên dịch vụ</label>
                  <input type="text" name="name" value="<%= service.name%>" class="form-control" id="" >
                </div>
                <div class="mb-3">
                    <label class="form-label">Giới thiệu về dịch vụ</label>
                    <textarea class="summernote" name="introduce"  class="form-control"><%= service.introduce%></textarea>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Mô tả ngắn</label>
                    <textarea class="summernote" name="description"  class="form-control"><%= service.description%></textarea>
                  </div>
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label">Giá dịch vụ</label>
                  <input type="text" name="price" value="<%= service.price%>" class="form-control" id="" >
                </div>
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label">Tiêu đề</label>
                  <input type="text" name="title" value="<%= service.title%>" class="form-control" id="" >
                </div>
                <div class="custom-file mb-3">
                  <input type="file" name="images" id="uploadMultiple" multiple class="custom-file-input" onchange="UploadImgMultiple(this)">
                  <label class="custom-file-label" for="validatedCustomFile">Chọn ảnh...</label>
                </div>
                <div id="displayImg" class="preview">
                  <% for(var i=0; i < service.image.length;i++){ %>
                    <img src="/backend/uploads/<%=service.image[i]%>" style="width: 20%; margin-top: 20px;">
                  <% } %>
                  <!-- <img src="http://aimory.vn/wp-content/uploads/2017/10/no-image.png" alt="" id="displayImg1" width="15%"> -->
                </div>
                
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label">Danh mục</label>
                  <select name="category" id="">
                    <% items.forEach(function(cate){ %>
                      <option value="<%= cate.name%>"><%= cate.name%></option>
                    <% }) %>
                    
                  </select>
                </div>
                <button type="submit" class="btn btn-primary btn-active-create" >Chỉnh sửa</button>
              </form>

            
        </div>
        <!-- /.row -->

      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <%- include('../includes/footer')%>
  <script>
      function UploadImgMultiple(input){
        var fileSelected = document.getElementById('uploadMultiple').files;
        // console.log(fileSelected);
        if(fileSelected.length>0){
          for(var i=0;i<fileSelected.length;i++){
            var fileToLoad = fileSelected[i];
            var fileReader = new FileReader;
            document.getElementById('displayImg').innerHTML="";
            fileReader.onload = function(event){
              var srcData = event.target.result;
              var newImage= document.createElement('img');
              newImage.src=srcData;
              document.getElementById('displayImg').innerHTML += newImage.outerHTML;
            }
            
            fileReader.readAsDataURL(fileToLoad);
            
        //     fileReader.readAsDataURL(fileToLoad);
          }
        }
      }
  </script>
 
</body>
</html>
