<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../includes/headerCSS')%>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <!-- Navbar -->
  <%-  include('../includes/header')%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%-  include('../includes/sidebar')%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard v2</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v2</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <h2>Các sản phẩm đã bị xóa</h2>
        <div>
            <table class="table">
                <tr>
                    <th>Stt</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Avatar</th>
                    <th>Active</th>
                </tr>
                  <% users.forEach(function(user){ %>
                <tr>
                    <td>1</td>
                    <td><%= user.name%></td>
                    <td><%= user.email%></td>
                    <td>
                        <img src="/backend/uploads/<%= user.avatar%>" alt="" style="max-width: 15%;">
                       </td>
                    <td>
                        <a class="list-active btn-restore" href="" data-id="<%= user._id %>" class=""><i class="far fa-window-restore"></i></a>
                        <a class="list-active" href="" data-toggle="modal" data-target="#modal-delete-user" data-id="<%= user._id%>">Delete</a>
                    </td>
                </tr>
                <% }) %> 
            </table>
          
              <!--modal delete-->
            <div class="modal fade" id="modal-delete-user" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa người dùng này?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="btn-delete" class="btn btn-danger">Xóa vĩnh viễn</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div><!--end modal delete-->
        </div>
        <!-- /.row -->

      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  <form name="form-delete" method="POST"></form>
  <form name="form-restore" method="POST"></form>
  <!-- Main Footer -->
  <%- include('../includes/footer')%>
  <script>
    var user_id;
    var formDelete = document.forms['form-delete'];
    var formRestore = document.forms['form-restore'];
    var btnDelete = document.getElementById('btn-delete');
    var btnRestore = $('.btn-restore');

    $('#modal-delete-user').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      user_id = button.data('id');
    })
   
    btnDelete.onclick = function () {
      formDelete.action='/users/delete/force/'+ user_id +'/?_method=DELETE';
      formDelete.submit();
    };

    btnRestore.click(function (e) {
        e.preventDefault();
        var user_id = $(this).data('id');
        formRestore.action='/users/restore/'+ user_id +'/?_method=PATCH';
        formRestore.submit();
    });
  </script>
</body>
</html>
