<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../includes/headerCSS')%>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <!-- Navbar -->
  <%-  include('../includes/header')%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%-  include('../includes/sidebar')%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="type-posts">
      <%- include('create')%>
      <section class="content list-types">
        <div class="container-fluid">
          <h2 class="title-header">Danh sách thể loại bài viết</h2>
          <div class="trash-pagi">
          
            <div class="pagination">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <a class="trash" href="/types/trash"><i class="fas fa-trash-restore"></i></a>
          </div>
        
          <div>
              <table class="table">
                  <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Active</th>
                  </tr>
                  <% types.forEach(function(type,index){%>
                    <tr>
                      <td><%= index +1 %></td>
                      <td><%= type.name%></td>
                      <td><%= type.description%></td>
                      <td>
                        <a class="list-active" href="/types/edit/<%= type._id%>"><i class="far fa-edit"></i></a>
                        <a class="list-active" href="" data-toggle="modal" data-target="#modal-delete-type" data-id="<%= type._id%>"><i class="fas fa-trash-restore"></i></a>
                      </td>
                    </tr>
                    <% }) %>
              </table>
            
                <!--modal delete-->
              <div class="modal fade" id="modal-delete-type" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Delete type</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Bạn chắc chắn muốn xóa?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" id="btn-delete" class="btn btn-danger">Delete</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div><!--end modal delete-->
          </div>
          <!-- /.row -->
  
        </div><!--/. container-fluid -->
      </section>
     
      

    </div>
    
    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  <form name="form-delete-type" method="POST"></form>
  <!-- Main Footer -->
  <%- include('../includes/footer')%>
  <script>
    var user_id;
    var formDelete = document.forms['form-delete-type'];
    $('#modal-delete-type').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      user_id = button.data('id');
      
     
    })
    var btnDelete = document.getElementById('btn-delete');
    btnDelete.onclick = function () {
      formDelete.action='/types/delete/'+ user_id +'?_method=DELETE';
      formDelete.submit();
    }
  </script>
</body>
</html>
